body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}

.header__logo{
    width: 6vw;
}

.header__menu{
    display: flex;
    gap: 20px;
    margin-right: 20px;  
    font-size: 20px; 
}
.header__menu a{
    text-decoration: none;
    color: black;
}

.header__menu a:hover{
    color: orange;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
}

.main>div{
    border: 1px solid gray;
    border-radius: 30px;
}

.main img{
    width: 25vw;
}